

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
    Team Name: <%= @team.name %>
    Team Motto: <%= @team.motto %>
    Hero Name: <%= @hero1.name %>
    Hero Power: <%= @hero1.power %>
    Hero Biography: <%= @hero1.bio %>
     Hero Name: <%= @hero2.name %>
       Hero Power: <%= @hero2.power %>
    Hero Biography: <%= @hero2.bio %>
    Hero Name: <%= @hero3.name %>
      Hero Power: <%= @hero3.power %>
    Hero Biography: <%= @hero3.bio %>
    </p>
  </body>
</html>
